<a href="{% url 'mainapp:main' %}" class="logo"></a>
<ul class="menu">
    <li><a href="{% url 'mainapp:main' %}" class="{% if request.resolver_match.url_name == 'main' %}active{% endif %}">домой</a></li>
    <li>
        <a href="{% url 'mainapp:products' pk=0 %}" class=" {% for cat in categories %} 
                                                                {% if request.resolver_match.url_name == 'products' %}
                                                                    active
                                                                {% endif %}
                                                            {% endfor %}">
            продукты
        </a>
    </li>
    <li><a href="{% url 'mainapp:contacts' %}" class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %}">контакты</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'authapp:edit' %}">{{ user.username }}</a></li>
        <li><a href="{% url 'authapp:logout' %}">Логаут</a></li>
    {% else %}
        <li><a href="{% url 'authapp:login' %}">Логин</a></li>
    {% endif %}
</ul>
<a href="#" class="search"></a>