<a href="{% url 'mainapp:main' %}" class="logo"></a>
<ul class="menu">
    <li><a href="{% url 'mainapp:main' %}" class="{% if request.resolver_match.url_name == 'main' %}active{% endif %}">домой</a></li>
    <li>
        <a href="{% url 'mainapp:products' %}" class="
            {% if request.resolver_match.url_name == 'products' %}
                active
            {% else %}
                {% for category in categories %}
                    {% if request.resolver_match.url_name == category.name  %}
                        active
                    {% endif %}
                {% endfor %}
            {% endif %}">
            продукты
        </a>
    </li>
    <li><a href="{% url 'mainapp:contacts' %}" class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %}">контакты</a></li>
</ul>
<a href="#" class="search"></a>