{% extends "mainapp/base.html" %}
{{category|length}}
{% block title %}
Каталог
{% endblock %}

{% block menu %}
		<div class="hero-white">
			<div class="header clearfix">
					{% include "mainapp/inside_menu.html" %}
                <a href="#" class="basket"></a>
			</div>
		</div>
{% endblock %}

{% block content %}
		<div class="details">
			<div class="links clearfix">
				<ul class="links-menu">
					<li><a href="{% url 'mainapp:products' pk=0 %}" class="{% if category|length > 0 %} active {% endif %}">все</a></li>
					{% for cat in categories %}
						<li><a href="{% url 'mainapp:products' cat.pk %}" class="
						{% if category.pk == cat.pk %}
							active
						{% endif %}
						">
							{{cat.name}}
							</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="products_block">
				{% for product in products %}
					<div class="products_box">
						<div  class="products_box_img">
							<img src="{{product.image.url}}" alt="">
						</div>
						<div  class="products_box_name">
							{{product.name}}
						</div>
						<div  class="products_box_description">
							{{product.descrition}}
						</div>
						<div class="products_box_price">
							{{product.price}}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="related">
				<div class="title clearfix">
					<h2>Похожие продукты</h2>
					<a class="explore" href="#">показать все <img src="/static/img/arrow.png" alt=""></a>
				</div>
				<div class="related-products clearfix">
					<div class="block">
						<a href="#"><img src="/static/img/product-11.jpg" alt="">
							<div class="text">
								<img src="/static/img/icon-hover.png" alt="img">
								<h4>Стул повышенного качества</h4>
								<p>Не оторваться. </p>
							</div>
						</a>
					</div>
					<div class="block">
						<a href="#"><img src="/static/img/product-21.jpg" alt="">
							<div class="text">
								<img src="/static/img/icon-hover.png" alt="img">
								<h4>Стул повышенного качества</h4>
								<p>Не оторваться. </p>
							</div>
						</a>
					</div>
					<div class="block">
						<a href="#"><img src="/static/img/product-31.jpg" alt="">
							<div class="text">
								<img src="/static/img/icon-hover.png" alt="img">
								<h4>Стул повышенного качества</h4>
								<p>Не оторваться. </p>
							</div>
						</a>
					</div>

				</div>
			</div>
		</div>
{% endblock %}