{% for item in items %}
    <div class="basket_record">
        <img src="{{ item.product.image.url }}" alt="{{ item.product.descrition }}">
        <span class="category_name">{{ item.product.category.name }}</span> 
        <span class="product_name">{{ item.product.name }}</span>
        <span class="product_price">{{ item.product.price }}&nbspруб</span>
        <input type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}">
        <span class="product_cost">{{ item.totall_price }}&nbspруб</span>
        <form action="" name="{{ item.pk }}" method="post"> 
            <button type="submit" name="{{ item.pk }}">Удалить</button>
        </form>
    </div>
{% endfor %}

{% if basket %}
    <div class="basket_summary">
        В корзине {{ basket.totall_quantity }} товара(ов) общей стоимостью
        {{ basket.totall_price }} руб
    </div>
{% endif %}
